{{ form_start(form) }}
    <div>
        <div>
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div>
        <div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
    </div>
    <div>
        <div>
            {{ form_label(form.trickGroup) }}
            {{ form_widget(form.trickGroup) }}
        </div>
    </div>
    {% if trick.name %}
        {% for i, child in form.children.trickMedia %}
            <div class="card grey">
                <span class="card-title">Ajout média</span>
                <div class="btn-toggle-container">
                    {% if child.vars.value.isImg %}
                        <span>Est-ce une image ?</span>
                        <div class="btn-toggle">
                            <div class="round active">
                                <input type="hidden" name="trick[trickMedia][{{ i }}][isImg]" value="true">
                            </div>
                        </div>
                    {% else %}
                        <span>Est-ce une image ?</span>
                        <div class="btn-toggle">
                            <div class="round">
                                <input type="hidden" name="trick[trickMedia][{{ i }}][isImg]" value="false">
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="textarea {{ child.vars.value.isImg ? '' : 'is-active' }}">
                    <label for="embed">Code embed</label>
                    <textarea id="embed" class="white" name="trick[trickMedia][{{ i }}][embed]" placeholder='Ex: <iframe width="560" height="315" src="https://www.youtube.com/embed/monyw0mnLZg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'>
                        {{child.vars.value.embed}}
                    </textarea>
                </div>
                <div class="url {{ child.vars.value.isImg ? 'is-active' : '' }}">
                    <label for="url">URL de l'image</label>
                    <input type="url" id="url" class="white" name="trick[trickMedia][{{ i }}][url]" placeholder="Ex: https://img.redbull.com/images" value="{{child.vars.value.url}}">
                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="card grey">
            <span class="card-title">Ajout média</span>
            <div class="btn-toggle-container">
                <span>Est-ce une image ?</span>
                <div class="btn-toggle">
                    <div class="round">
                        <input type="hidden" name="trick[trickMedia][0][isImg]" value="false">
                    </div>
                </div>
            </div>
            <div class="textarea is-active">
                <label for="embed">Code embed</label>
                <textarea id="embed" class="white" name="trick[trickMedia][0][embed]" placeholder='Ex: <iframe width="560" height="315" src="https://www.youtube.com/embed/monyw0mnLZg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'></textarea>
            </div>
            <div class="url">
                <label for="url">URL de l'image</label>
                <input type="url" id="url" class="white" name="trick[trickMedia][0][url]" placeholder="Ex: https://img.redbull.com/images">
            </div>
        </div>
    {% endif %}
    <button class="add-media small">
        <i class="bi bi-plus"></i>
        Ajouter un média
    </button>
    <button class="btn save">
        <i class="bi bi-plus"></i>
        {{ button_label|default('Ajouter le trick') }}
    </button>
{{ form_end(form, {'render_rest': false}) }}
