{% extends 'base.html.twig' %}

{% block title %}Les tricks{% endblock %}

{% block main %}
    <main class="trick-list">
        <div class="title-container">
            <h1>Les tricks</h1>
            <a href="{{ path('trick_new') }}">
                <button class="green small">
                    <i class="bi bi-pen"></i>
                    Ajouter un trick
                </button>
            </a>
        </div>
        {% if tricks|length > 0 %}
            <div class="trick-container">
                {% for trick in tricks %}
                    {% set continue = true %}
                    <div class="trick-item">
                        {% for trickMedia in trick.trickMedia %}
                            {% if trickMedia.isImg and continue %}
                                <div class="top" style="background-image: url({{ trickMedia.url }})"></div>
                                {% set continue = false %}
                            {% endif %}
                        {% endfor %}
                        <div class="bottom">
                            <h2>{{ trick.name }}</h2>
                            <a href="{{ path('trick_show', {'slug': trick.slug}) }}">
                                <button>
                                    <i class="bi bi-arrow-return-right"></i>
                                    Voir le trick
                                </button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if tricks|length == 0 %}
            <div class="card white">
                <div>Il n'y a pas encore de tricks</div>
                <a href="{{ path('trick_new') }}">Create new</a>
            </div>
        {% endif %}
    </main>
{% endblock %}
