{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block main %}
    <main class="trick-detail">
        <div class="img-container">
            <h1>{{ trick.name }}</h1>
        </div>
        <div class="bottom">
            <div class="trick-media-list">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p>
                {{ trick.description }}
            </p>
            <div class="informations">
                <div class="badge">
                    <span class="quiet">Créé le</span>
                    <span>{{ trick.createdAt | date('d-m-Y') }}</span>
                </div>
            </div>
        </div>
        

        <a href="{{ path('trick_index') }}">back to list</a>

        <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>

        {{ include('trick/_delete_form.html.twig') }}
    </main>
{% endblock %}
