{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block main %}
    <main class="trick-detail">
        <a href="{{ path('trick_index') }}" class="link-back">
            <span>&#8592; Retour à la liste</span>
        </a>
        {% set continue = true %}
        {% for trickMedia in trick.trickMedia %}
            {% if trickMedia.isImg and continue %}
                <div class="img-container" style="background-image: url({{ trickMedia.url }})">
                    <h1>{{ trick.name }}</h1>
                    <div class="filter"></div>
                    {% if app.user %}
                        <div class="block-action">
                            <a href="{{ path('trick_edit', {'id': trick.id}) }}">
                                <button class="small green no-hover">
                                    <i class="bi bi-pen"></i>
                                    Éditer
                                </button>
                            </a>
                            {{ include('trick/_delete_form.html.twig') }}
                        </div>
                    {% endif %}
                </div>
                {% set continue = false %}
            {% endif %}
        {% endfor %}
        {% if trick.trickMedia|length == 0 and app.user %}
            <div class="block-action">
                <a href="{{ path('trick_edit', {'id': trick.id}) }}">
                    <button class="small green no-hover">
                        <i class="bi bi-pen"></i>
                        Éditer
                    </button>
                </a>
                {{ include('trick/_delete_form.html.twig') }}
            </div>
        {% endif %}
        <div class="bottom">
            <div class="trick-media-list">
            {% for trickMedia in trick.trickMedia %}
                {% if trickMedia.isImg %}
                    <img src="{{ trickMedia.url }}" loading="lazy">
                    {% else %}
                    {{ trickMedia.embed | raw }}
                {% endif %}
            {% endfor %}
            </div>
            <button class="show-media no-hover small">
                <i class="bi bi-collection-play"></i>
                <span>Voir les médias</span>
            </button>
            <p>
                {{ trick.description }}
            </p>
            <div class="informations">
                <div class="badge">
                    <span class="quiet">Groupe</span>
                    <span>{{ trick.trickGroup.name }}</span>
                </div>
                <div class="badge">
                    <span class="quiet">Créé le</span>
                    <span>{{ trick.createdAt | date('d-m-Y') }}</span>
                </div>
                <div class="badge">
                    <span class="quiet">Créé par</span>
                    <span>{{ trick.createdBy.pseudo }}</span>
                </div>
                {% if trick.updatedAt %}
                    <div class="badge">
                        <span class="quiet">Modifié le</span>
                        <span>{{ trick.updatedAt | date('d-m-Y') }}</span>
                    </div>
                {% endif %}
            </div>
            <div class="add-comment">
                {% if app.user %}
                    <a href="{{ path('comment_new', { 'slug': trick.slug }) }}">
                        <button class="small broken-white">
                            <i class="bi bi-chat-text"></i>
                            Ajouter un commentaire
                        </button>
                    </a>
                {% else %}
                    <span>
                        <i class="bi bi-info-circle"></i>
                        Vous devez être connecté pour ajouter un commentaire
                    </span>
                    <a href="{{ path('app_login') }}">
                        <button class="green">
                            <i class="bi bi-person-check"></i>
                            Me connecter
                        </button>
                    </a>
                {% endif %}
            </div>
            <div class="comments">
                <h2>Commentaires</h2>
                {% if trick.comments|length == 0 %}
                    <span>Il n'y a aucun commentaire</span>
                {% else %}
                    {% set render = true %}
                    {% set showLoadMoreButton = true %}

                    {% for i, comment in trick.comments %}
                        {% if numberComments is defined and numberComments == i %}
                            {% set render = false %}
                        {% elseif numberComments is defined and numberComments >= trick.comments|length %}
                            {% set showLoadMoreButton = false %}
                        {% elseif numberComments is not defined and i == 5 %}
                            {% set render = false %}
                        {% endif %}

                        {% if render %}
                            <div class="card grey">
                                <div class="card-title">
                                    <img src="/img/users/{{ comment.user.cover }}" alt="{{ comment.user.pseudo }}">
                                    <span>{{ comment.user.pseudo }}</span>
                                    <span>, {{ comment.createdAt | date('d/m/Y à H:i:s') }}</span>
                                </div>
                                <p>{{ comment.content }}</p>
                                {% if app.user and comment.user.pseudo == app.user.pseudo %}
                                    <div class="block-action">
                                        {{ include('comment/_delete_form.html.twig') }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% set newNumberComments = 0 %}
                {% if numberComments is defined %}
                    {% set newNumberComments = numberComments + 10 %}
                    {% else %}
                    {% set newNumberComments = 10 %}
                {% endif %}
               
                {% if showLoadMoreButton is defined and showLoadMoreButton and trick.comments|length > 10 %}
                    <a href="{{ path('trick_show_comments', { slug: trick.slug, numberComments: newNumberComments }) }}">
                        <button class="small blue" id="load-more">
                            <i class="bi bi-plus"></i>
                            Voir plus de commentaires
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}