{% block header %}

    <header>
        <a class="logo" href="{{ path('index') }}">
            SnowTricks
        </a>
        <ul>
            <li>
                <a href="{{ path('index') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('index') }}">Tricks</a>
            </li>
            <li>
                <a href="{{ path('index') }}">Connexion</a>
            </li>
            <li>
                <a href="{{ path('index') }}">Inscription</a>
            </li>
        </ul>
    </header>

{% endblock %}
