{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block main %}
    <main class="login">
        <div class="card white">
            <h1>Nouveau mot de passe</h1>
            <form method="POST" action="{{ path('user_set-password') }}">
                {% if token %}
                    <div>
                        <div>
                            <label for="password">Nouveau mot de passe</label>
                            <input type="password" name="password" id="password"  autocomplete="password" placeholder="*********" required>
                            <p>Doit contenir minimum 8 caractères et au moins 1 chiffre</p>
                        </div>
                        <input type="hidden" name="token" value="{{ token }}">
                    </div>
                    {% if (error != null) %}
                        <div class="error">
                            <div>
                                {{ error }}
                            </div>
                        </div>
                    {% endif %}
                    <a class="reset-password" href="{{ path('app_login') }}">
                        &#8592;
                        Retour à la connexion
                    </a>
                    <button type="submit">
                        <i class="bi bi-lock"></i>
                        Mettre à jour mon mot de passe
                    </button>
                {% else %}
                    <div class="error">
                        <div>
                            Le token n'est pas valide.<br/>
                            Il faut que tu refasses une demande
                        </div>
                    </div>
                    <a class="reset-password" href="{{ path('user_reset-password') }}">
                        Mot de passe oublié
                    </a>
                {% endif %}
            </form>
        </div>
    </main>
{% endblock %}
